// Fonts
$FFNunito: "OpenSans-Regular";

// Colors
$colorBlack: rgba(0, 0, 0, 0.87);
$colorWhite: rgba(255, 255, 255, 1);
$colorYellow: rgba(255, 227, 2, 1);
$colorYellow2: rgba(244, 224, 65, 1);
$colorBlue: rgba(0, 189, 211, 1);
$colorGreyBack: rgba(248, 248, 248, 1);
$colorGrey2: rgba(180, 180, 180, 1);
$colorGrey3: rgba(208, 207, 207, 1);
$colorGrey4: rgba(126, 126, 126, 1);
$colorGreen: rgba(0, 189, 211, 1);
$colorRed: rgba(203, 61, 64, 1);
